<div id="headerSecondary">
    {{ $currentPage := . }}
    {{ $menu := .Site.Menus.main }}
    {{ $menuName := "main" }}

    <section class="noJsHidden">
        <div class="mobileHeaderFlexContainer">
            <div class="secondaryHeaderSectionDivider"></div>
            <div class="bp3-select bp3-minimal mobileSidebarNavDropdown">
                <select onchange="window.location.replace(this.options[this.selectedIndex].value)">
                    <option value="/">Go to page...</option>
                    {{ range $menu }}
                        {{ if .HasChildren }}
                        <optgroup label="{{ .Title }}">
                            {{ range .Children }}
                                <option value="{{ .URL }}" {{ if eq .URL $currentPage.RelPermalink }}selected{{end}}>{{ .Title }}</option>
                                {{if  .HasChildren }}
                                    {{ range .Children }}
                                        <option value="{{ .URL }}" {{ if eq .URL $currentPage.RelPermalink }}selected{{end}}>&nbsp;&nbsp;&nbsp;{{ .Title }}</option>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </optgroup>
                        {{ end }}
                    {{ end }}
                </select>
            </div>
        </div>
    </section>
    <noscript>
        <section id="headerSecondaryNoscriptPath">
            {{ if eq $menuName "server" }}
            <a href="/server/">Server</a>&nbsp;<span class="bp3-icon bp3-icon-chevron-right"></span>&nbsp;
            {{ end }}
            {{ if eq $menuName "cli" }}
            <a href="/cli/">CLI</a>&nbsp;<span class="bp3-icon bp3-icon-chevron-right"></span>&nbsp;
            {{ end }}
            <a href="{{ .RelPermalink }}">{{ $currentPage.Title }}</a>
        </section>
    </noscript>
</div>