<div id="header">
    <div id="header-inner">
        <a class="header-link" href="/">
          <img src="/img/logo-v1.svg" width="32"></img>
          <h1>Vector Charts</h1>
          <p id="header-docs-label">Docs</p>
        </a>
        <div class="flexSpacer">

        </div>
        <div>
          <a id="back-to-home-link" href="https://vectorcharts.com">Back to Home</a>
        </div>
        <div class="menu-actions-outer">
          <a id="login-button" href="https://cloud.vectorcharts.com/login">Login</a>
          <a id="sign-up-button" href="https://cloud.vectorcharts.com/start-register">Get Started</a>
        </div>
      </div>
</div>