<div id="contentLeftSidebar">
    <div class="stickyTableOfContents">
        <div class="sidebarMenuSection"><span class="bp3-icon bp3-icon-learning"></span>Getting Started</div>
        <a href="/getting-started/" class="sidebarItemHref">
            <div class="sidebarMenuItem">
                <div class="buttonText"><span class="bp3-icon bp3-icon-arrow-right"></span>Vector Charts Cloud</div>
            </div>
        </a>
        <a href="/oem/" class="sidebarItemHref">
            <div class="sidebarMenuItem">
                <div class="buttonText"><span class="bp3-icon bp3-icon-arrow-right"></span>Vector Charts OEM</div>
            </div>
        </a>
        <a href="/crowdsourced/" class="sidebarItemHref">
            <div class="sidebarMenuItem">
                <div class="buttonText"><span class="bp3-icon bp3-icon-arrow-right"></span>Crowdsourced Data</div>
            </div>
        </a>
        <br/>

        <div class="sidebarMenuSection"><span class="bp3-icon bp3-icon-document"></span>Resources</div>
        <a href="https://status.vectorcharts.com/" class="sidebarItemHref sidebarItemHrefExternal" target="_blank" rel="noopener noreferrer">
            <div class="sidebarMenuItem">
                <div class="buttonText">Status<span class="bp3-icon bp3-icon-share sidebarExternalIcon" aria-hidden="true"></span></div>
            </div>
        </a>
        <a href="https://vectorcharts.com/contact-us/" class="sidebarItemHref sidebarItemHrefExternal" target="_blank" rel="noopener noreferrer">
            <div class="sidebarMenuItem">
                <div class="buttonText">Contact Support<span class="bp3-icon bp3-icon-share sidebarExternalIcon" aria-hidden="true"></span></div>
            </div>
        </a>
    </div>
</div>
