{{ define "main" }}
<main>
	<article>
		<h1>Vector Charts Documentation</h1>
		<div>
			<p><img src="/img/23.png" alt="header"></p>

			<p><b>Welcome!</b> Vector Charts is the easiest way to add beautiful, informative vector nautical charts to your maritime-related product.</p>


			<p>We provide nautical charts and other maritime geospatial data as an API service. This documentation will walk you through how to use Vector Charts Cloud and our other products in the Vector Charts ecosystem.</p>

			<p>Pick a documentation section below to get started.</p>

			<h2 id="getting-started">Getting Started</h2>

			<div class="docsHomeCards">
				<a class="bp3-card docsHomeCard" href="/getting-started/">
					<span class="docsHomeCardArrow bp3-icon bp3-icon-arrow-right" aria-hidden="true"></span>
					<h3>Cloud</h3>
					<p>Documentation for the hosted Vector Charts Cloud API.</p>
				</a>

				<a class="bp3-card docsHomeCard" href="/oem/">
					<span class="docsHomeCardArrow bp3-icon bp3-icon-arrow-right" aria-hidden="true"></span>
					<h3>OEM</h3>
					<p>Documentation for the self-hosted Vector Charts OEM product.</p>
				</a>

				<a class="bp3-card docsHomeCard" href="/crowdsourced/">
					<span class="docsHomeCardArrow bp3-icon bp3-icon-arrow-right" aria-hidden="true"></span>
					<h3>Crowdsourced Data</h3>
					<p>Documentation for the Crowdsourced Data program.</p>
				</a>

				<a class="bp3-card docsHomeCard docsHomeCard--full" href="https://vectorcharts.com/contact-us/">
					<span class="docsHomeCardArrow bp3-icon bp3-icon-arrow-right" aria-hidden="true"></span>
					<div class="docsHomeCardBody">
						<h3>Contact Support</h3>
						<p>Need help with your integration, account, or some other issue? Reach out and our team will get back to you.</p>
					</div>
				</a>
			</div>
		</div>
	</article>
</main>
{{ end }}
